.burger {
  display: flex;
  align-items: center;
  & ul {
    margin: 0 1.5em;
    padding: 0;
    list-style-type: none;
    width: 100%;
    & li {
      background-color: white;
      height: 2px;
      border-radius: 1px;
      & + li {
        margin-top: .5em;
      }
    }
  }
}
