include ../public/components/app/template
include ../public/components/feed/template
include ../public/components/topic-compact/template

+app({header:{}})
  +feed({titleSection: {title:'Trending topics:'}})
    +topic-compact({value:33, title: 'Gay Marriage', href: '/topic/Gay%20Marriage'}).blue
    +topic-compact({value:10, title: 'Brexit', href: '/topic/Brexit'}).green
    +topic-compact({value:25, title: 'Lamps', href: '/topic/Lamps'}).orange
    +topic-compact({value:95, title: 'Pokemon Go', href: '/topic/Pokemon%20Go'}).yellow
    +topic-compact({value:62, title: 'Climate Change', href: '/topic/Climate%20Change'}).blue
    +topic-compact({value:32, title: 'Boaty McBoatface', href: '/topic/Boaty'}).green
    +topic-compact({value:2, title: 'Pauline Hanson', href: '/topic/Pauline%20Hanson'}).orange
    +topic-compact({value:78, title: 'This Chair', href: '/topic/Chair'}).yellow
