include ../public/components/app/template
include ../public/components/feed/template
include ../public/components/topic-compact/template

+app({header:{heading: title}})
  +feed({titleSection: {title:'Trending topics:'}})
    each topic in topics
      +topic-compact({value: topic.value, title: topic.title, href: '/topic/' + topic.title, colour: topic.color})

