include ../public/components/app/template
include ../public/components/topic-compact/template
include ../public/components/card/template

+app({header:{}})
  +feed({})
    +topic-compact({value:33, title: title, colour: topic.color})
    each card in cards
      +card(card)
