include ../public/components/app/template
include ../public/components/topic-compact/template
include ../public/components/card/template

+app({})
  +topic-compact({value:33, title: title})
  +card({title: 'This is a card', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices vulputate turpis vel egestas. Donec vitae neque sed nunc pharetra consectetur vitae vel lorem. Proin ornare magna ut lorem convallis, id venenatis velit viverra. Praesent semper enim odio, in sodales ligula maximus eu. Ut pharetra dolor a dolor dignissim aliquam. Pellentesque sit amet elit tincidunt, finibus ante nec, molestie ex'})
  +card({title: 'This is also card', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices vulputate turpis vel egestas. Donec vitae neque sed nunc pharetra consectetur vitae vel lorem. Proin ornare magna ut lorem convallis, id venenatis velit viverra. Praesent semper enim odio, in sodales ligula maximus eu. Ut pharetra dolor a dolor dignissim aliquam. Pellentesque sit amet elit tincidunt, finibus ante nec, molestie ex'})
