include ../public/components/app/template
include ../public/components/topic-compact/template
include ../public/components/card/template

+app({})
  +topic-compact({value:33, title: title})
  each card in cards
    +card(card)