.card {
  color: #57575a;
  & .link {
    background-color: #f9f9f9;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    transition: .25s;
    & figure {
      position: relative;
      margin: 0;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-color: color(black alpha(10%));
      transition: inherit;
      &::before {
        content: '';
        display: block;
        padding-top: 50%;
      }
      & img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  & .content {
    padding: 0 2em;
    overflow: overlay;
    & h3 {
      font-size: 200%;
      font-weight: 500;
      line-height: 1.4em;
      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid #86878b;
        width: 3em;
        margin: .5em 0;
      }
    }
    & p {
      color: #86878b;
      font-size: 110%;
      line-height: 1.4em;
      margin-bottom: 4em;
    }
  }
  & .perspective {
    margin-top: -2em;
    position: absolute;
    background-color: white;
    padding: 1em 1em 2em 2em;
    margin-left: -2em;
    & .name {
      text-transform: uppercase;
      font-weight: 600;
      margin-right: .5em;
    }
    & .score {
      color: #fd4642;
      font-weight: 600;
    }
  }
  &.blue {
    color: #0eb9e4;
  }
  &.green {
    color: #24eaad;
  }
  &.orange {
    color: #eb451b;
  }
  &.yellow {
    color: #ffd203;
  }
}
