@keyframes enterprogress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.topic-compact {
  height: 6em;
  position: relative;
  & .title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 0 1.5em;
    box-sizing: border-box;
    & a {
      text-decoration: none;
    }
  }
  & h3 {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 140%;
  }
  & .marker {
    border-left: 2px dashed white;
    position: absolute;
    z-index: 100;
    height: 100%;
    display: none;
    opacity: .5;
    &.show {
      display: block;
    }
  }
  background-color: #e4e4e4;
  & span.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    animation: enterprogress 1s ease-out backwards;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    background-color: #bababa;
    transition: right .5s ease-out;
    animation-delay: right 1.5s;
    top: 0;
  }
  & .inner {
    position: relative;
    z-index: 200;
    padding: 2em;
    overflow: overlay;
  }
  & ul {
    list-style-type: none;
    color: #fff;
    margin: 0;
    padding: 0;
    & li {
      margin-bottom: 1em;
    }
  }
  &.expanded {
    height: auto;
  }
  &.blue {
    background-color: #0eb9e4;
    & span.progress {
      background-color: #0f9fba;
    }
  }
  &.green {
    background-color: #24eaad;
    & span.progress {
      background-color: #23c88e;
    }
  }
  &.orange {
    background-color: #ea552f;
    & span.progress {
      background-color: #e73b17;
    }
  }
  &.yellow {
    background-color: #ffd203;
    & span.progress {
      background-color: #fab301;
    }
  }
}
