mixin topic-compact(props)
  .topic-compact(class=[props.colour, props.expanded ? 'expanded' : undefined])&attributes(attributes)
    span.marker(style={left: props.value + '%'})
    if block
      .inner
        h3=props.title
        block
    else
      a(href=props.href ? props.href : undefined)
        .title
            h3=props.title
          if props.breakdown
            span.breakdown=props.breakdown
      span.progress(style={right: 100 - props.value + '%'})
