mixin topic-compact(props)
  .topic-compact(style=props.colour)&attributes(attributes)
    span.marker(style={left: props.value + '%'})
    .title
      a(href=props.href ? props.href : undefined)
        h3=props.title
    span.progress(style={right: 100 - props.value + '%'})
