.header {
  display: flex;
  border-bottom: solid 1px black;
  background-color: grey;
  & .heading {
    display: flex;
    align-items: center;
    & > * {
      margin: 0 auto;
    }
  }
  & > * {
    flex: 1;
  }
}

.button {
  flex: 0;
  height: 3em;
  flex-basis: 3em;
  border: solid 1px black;
}
