@import '../burger';

.header {
  display: flex;
  background-color: #ff4643;
  color: #fff;
  & .heading {
    display: flex;
    align-items: center;
    & > * {
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
  & > * {
    flex: 1;
  }
}

.button {
  flex: 0;
  height: 5em;
  flex-basis: 5em;
  & img {
    margin: 1.2em;
    box-sizing: border-box;
  }
}
