include ../topic-compact/template
include ../burger/template

mixin header(props)
  .header
    +burger()
    .heading
      h2=props.heading
    a.button(href="#")
      img(src='/components/header/magnify.svg')
